{% extends "AppCoder\padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <!-- Esto es lo que se va a cambiar -->
    <body>
        <div class="container col-10">
            <h1>Buscar camada</h1>
            <p>Ingresar número:</p>
            {% if miFormulario.errors %}
            <p style="color: red;">Están mal los datos, revisar!</p>
            {% endif %}

            <form action = "/AppMVT/buscar" method="GET">
                <input type="number" name="camada" id="camada">
                <input type="submit" value="Buscar">
            </form>
        </div>
    </body>

{% endblock %}